@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* barra de navegação */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(248, 248, 248);
    color: black;
}

.header {
    background-color: rgb(253, 253, 253);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px ;
    color: white ;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.logos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-left: 15px;
    
}


#main-banner {
    height: 80vh;
    background-size: cover;
    padding-top:25vh;
    background-color: rgb(255, 255, 255);
    

 
 }
 
 #banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: black;
    padding: 40px;
    font-size: 23px;

 }

 #banner-info p {
    text-align: center;
    font-weight: bolder;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
 
 }

 #banner-info h1 {
    font-size: 50px;
 }

.main-oferecidos  {  
    color: #050303;
    padding-top: 50px;
    height: 500px;

}
.oferecidos {
    height: 500px;
    align-items: center;
}







