body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


/* começo da barra de navegação*/
.header {
    background: rgb(56, 150, 56);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
  
}
.logo {
  background: transparent;
  font-size: 25px ;
  color: white ;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  position: relative;
}

.navbar a::after {
  content: "";
  width: 0%;
  height: 4%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;

}
.logos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-left: 15px;
  
}
  /* fim da barra de navegação*/

/* começo de parceiros */
    h1 {
    margin: 20px;
    background-color: rgb(73, 235, 73);
    text-align: center;
    }
    h3 {
        text-align: center;
        
    }
    .parceiros a {
    color: green;
    text-decoration: none;
    
    }
    .partner-list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .partner-list-item {
      margin: 10px;
    }

    .partner-logo {
      width: 200px;
      height: 100px;
      object-fit: contain;
      border: 1px;
      padding: 5px;
    }

    /* Fim de parceiros */